:root {
  --home-color-60: hsla(204, 100%, 60%, 1);
  --home-color-80: hsla(204, 100%, 80%, 1);
  --dark-color: hsla(280, 12%, 20%, 1);
  --dark2-color: hsla(280, 12%, 40%, 1);
  --monday-color: hsla(19, 95%, 64%, 1);
  --monday2-color: hsla(19, 95%, 80%, 1);
  --tuesday-color: hsla(85, 59%, 58%, 1);
  --grey-color: hsla(280, 5%, 80%);
  --c1: hsl(252, 95%, 50%);
  --c2: hsl(252, 95%, 75%);
  --c3: hsl(72, 70%, 50%);
  --c4: hsl(72, 95%, 30%);
  --c5: hsl(72, 95%, 70%);
  --c6: hsl(72, 70%, 75%);
  --c7: hsl(252, 60%, 30%);
  --c8: hsl(72, 95%, 20%);
  --c11: hsl(224, 60%, 22%);
  --c12: hsl(224, 65%, 12%);
  --c13: hsl(224, 80%, 98%);
  --c21: hsl(202, 80%, 84%);
  --c22: hsl(202, 80%, 72%);
  --c23: hsl(202, 80%, 90%);
  --c31: hsl(72, 80%, 74%);
  --c32: hsl(72, 80%, 65%);
  --c41: hsl(99, 86%, 57%);
  --c42: hsl(99, 86%, 47%);
}

/***
======= Global
*/

a {
  text-decoration: none;
}
dd {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
}
.right {
  text-align: right;
}
.hidden {
  display: none;
}
.error {
  color:red;
}

/***
======= Home page
*/

#home-main h1 {
  text-align: center;
  margin: 1.6em auto 0 auto;
  padding: .8em;
  font-size: 200%;
  font-weight: normal;
  color: var(--c11);
  /* background-color: var(--c2); */
  text-transform: uppercase;
  /* border-bottom: 4px hsla(204, 100%, 60%, 1) solid; */
  /* box-shadow: 0 .1em .3em var(--home-color-60); */
}
#home-main {
  background-color: #fff;
  margin: 0 auto;
  width: 60%;
  min-width: 400px;
}
#home-main div {
  /* border: 1px solid; */
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  flex-flow: row wrap;
}
#home-main a {
  margin: 1em;
  padding: 1em;
  /* display: inline-block; */
  /* width: 12em; */
  height: 5em;
  flex: 0 1 12em;
  /* vertical-align: middle; */
  font-size: 1.2em;
  color: var(--c11);
  /* background-color: var(--c4); */
  /* background-image: linear-gradient(to bottom right, #f9f9f9 70%, var(--home-color-80)); */
  border-radius: .3em;
  box-shadow: 0 .2em .4em rgba(0,0,0,0.3);
}
#home-main a:hover {
  background-color: var(--c13);
}

/***
======= Layout
*/

div.table-quick {
  width: 100%;
  /* justify-content: space-around; */
  font-size: .85em;
  display: flex;
}
section.quick-details {
  /* display: inline-block; */
  /* width: 30%; */
  flex: 1 1 auto;
  margin: 1em;
}
.quick-details > div {
  display: flex;
}
div.tab-content {
  flex: 1 1 auto;
}

/***
======= Search results table
*/

thead {
  background-image: linear-gradient(var(--c12), var(--c11));
  color: #f7f7f7;
}
thead th {
  font-weight: 400;
  padding: .6em .7em;
}
td a:hover {
  /* background-color: var(--monday-color); */
  /* color: var(--monday-color); */
}
tbody tr:hover {
  background-color: var(--c13);
  /* color: white; */
}
td {
  border-bottom: solid 1px var(--grey-color);
  /* border-left: solid 1px var(--grey-color); */
}
td a {
  color: var(--dark-color);
  display: block;
  padding: .4em .7em;

}
table {
  color: var(--dark-color);
  border-collapse: collapse;
  padding-left: 1em;
  flex: 0 1 auto;
}
table.search-res {
  /* display: inline-block; */
  /* width: 70%; */
  margin: 1em;
}

/***
======= Tabs in Quick Details
*/

section.quick-details nav {
  flex: 0 1 auto;
  min-width: 10em;
}
section.quick-details nav li {
  display: block;
  margin: .2em;
  padding: .6em;
  cursor: pointer;
  /* border: 1em solid; */
  /* border-image: linear-gradient(to bottom right, #f9f9f9 70%, var(--home-color-80)); */
  /* border-image-slice: 1; */
  /* background-color: var(--c21); */
  border-left: 2px solid var(--c21);
}
section.quick-details nav li:hover {
  border-color: var(--c11);
}
section.quick-details nav li.active {
  background-color: var(--c21);
  border-color: #fff;
}

/***
======= Data in Quick Details
*/

section.quick-details dl {
  padding: 1em;
}
section.quick-details dt {
  color: #888;
  font-size: .9em;
  border-top: 1px solid var(--c23);
  padding: .5em;
  /* box-shadow: -3px 0px 1px 0px #666; */
}
section.quick-details dd {
  padding: .2em 0 .6em 0;
  margin-left: 2em;
}
section.quick-details div.many {
  display: flex;
  flex-direction: column;
}
section.quick-details div.many div {
  padding-right: 2em;
  border-top: 1px solid var(--c23);
}
section.quick-details div.many dl {
  display: flex;
  padding: 0;
  margin: .4em;
}
section.quick-details div.many dt {
  border: none;
}
section.quick-details div.many dd {
  margin-left: 0;
  padding: 0 0 .5em .5em;
}

/***
======= Modal
*/

div.modal-whole {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.4);
}
div.modal-content {
  background-color: #fff;
  margin: 3em auto;
  padding: 1.5em 3em;
  width: 50%;
  min-width: 500px;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.3), 0 6px 20px 0 rgba(0,0,0,.25);
}
div.modal-content span.close {
  color: #999;
  font-size: 1.5em;
  float: right;
}
div.modal-content span.close:hover {
  color: #000;
  cursor: pointer;
}
div.modal-content h1 {
  font-size: 1.4em;
}

/***
======= Buttons
*/

button.update {
  background-color: #fff;
  padding: .3em .6em;
  border: 1px solid var(--c31);
  border-radius: .7em / .5em;
  cursor: pointer;
}
button.update:hover {
  background-color: var(--c31);
  /* color: #fff; */
}

/* Form inside modal */

div.modal-content label {
  display: block;
  margin-bottom: .3em;
}
div.modal-content input {
  width: 100%;
  padding: .8em;
  border: 1px solid #ddd;
  border-radius: .3em;
  color: #888;
  background-color: #f9f9f9;
}
div.modal-content li {
  margin-bottom: 1em;
}
div.modal-content button.submit {
  color: white;
  background-color: var(--c11);
  border: 1px solid #ddd;
  border-radius: .3em;
  padding: .6em 1.5em;
  cursor: pointer;
}
div.modal-content button.submit:hover {
  background-color: var(--c12);
}
