:root {
  --home-color-60: hsla(204, 100%, 60%, 1);
  --home-color-80: hsla(204, 100%, 80%, 1);
  --dark-color: hsla(280, 12%, 20%, 1);
  --dark2-color: hsla(280, 12%, 40%, 1);
  --monday-color: hsla(19, 95%, 64%, 1);
  --monday2-color: hsla(19, 95%, 80%, 1);
  --tuesday-color: hsla(85, 59%, 58%, 1);
  --grey-color: hsla(280, 5%, 80%);
}
h1 {
  text-align: center;
  margin: 1.6em auto 0 auto;
  padding: .8em;
  font-size: 200%;
  font-weight: normal;
  color: #555;
  text-transform: uppercase;
  /* border-bottom: 4px hsla(204, 100%, 60%, 1) solid; */
  box-shadow: 0 .1em .3em var(--home-color-60);
}
a {
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#home-main {
  background-color: #fff;
  margin: 0 auto;
  width: 50%;
  min-width: 400px;
}
#home-main div {
  /* border: 1px solid; */
  text-align: center;
  margin-top: 1.5em;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* height: 100vh; */
  flex-flow: row wrap;
}
#home-main a {
  margin: 1em;
  border: 2px solid var(--home-color-80);
  padding: 1em;
  /* display: inline-block; */
  /* width: 12em; */
  height: 5em;
  flex: 0 1 12em;
  /* vertical-align: middle; */
  color: #000;
  /* background-color: #f9f9f9; */
  background-image: linear-gradient(to bottom right, #f9f9f9 70%, var(--home-color-80));
  border-radius: .7em;
}
.right {
  text-align: right;
}
div.table-quick {
  width: 100%;
  /* justify-content: space-around; */
  font-size: .85em;
  display: flex;
}
thead {
  background-image: linear-gradient(var(--monday-color), var(--monday2-color));
}
thead th {
  font-weight: 400;
  padding: .4em .7em;
}
td a:hover {
  /* background-color: var(--monday-color); */
  color: var(--monday-color);
}
tr:focus {
  background-color: blue;
  color: white;
}
td {
  border-bottom: solid 1px var(--grey-color);
  /* border-left: solid 1px var(--grey-color); */
}
td a {
  color: var(--dark-color);
  display: block;
  padding: .4em .7em;

}
table {
  color: var(--dark-color);
  border-collapse: collapse;
  padding-left: 1em;
  flex: 0 1 auto;
}
table.search-res {
  /* display: inline-block; */
  /* width: 70%; */
  margin: 1em;
}
section.quick-details {
  /* display: inline-block; */
  /* width: 30%; */
  border: solid 1px black;
  flex: 1 1 auto;
  margin: 1em;
}
.quick-details > div {
  display: flex;

}
nav ul {
  list-style: none;
  padding: 0px;
}
div.tab-content {
  flex: 1 1 auto;
}
section.quick-details nav {
  flex: 0 1 auto;
  min-width: 10em;
}
